
body {
    background: #BDCEC8;
    background: -moz-linear-gradient(left, #BDCEC8 0%, #A3A4A4 50%, #C3C5C0 100%);
    background: -webkit-linear-gradient(left, #BDCEC8 0%, #A3A4A4 50%, #C3C5C0 100%);
    background: linear-gradient(to right, #BDCEC8 0%, #A3A4A4 50%, #C3C5C0 100%);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10wh;
    color: white;
    width: 50%;
}

a   {
    color:white;
    text-decoration: none;
}

a:hover {
  color: #00ff00;
    text-decoration: none;
}

a:active {
  color: limegreen;
    text-decoration: none;
}

::-moz-selection { /* Code for Firefox */
  color: blue;

}

::selection {
  color: blue;

}
